api:
  dashboard: true

providers:
  docker:
    exposedByDefault: false
    network: traefik_backend
  file:
    directory: /etc/traefik/config/dynamic
    watch: true

entryPoints:
  web:
    address: ':80'
