api:
  dashboard: true

providers:
  docker:
    exposedByDefault: false
    network: traefik_backend
  file:
    directory: /etc/traefik/config/dynamic
    watch: true

entryPoints:
  web:
    address: ':80'
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ':443'
    http:
      tls: {}
