{% for key, value in all_secrets_data.all_secrets[inventory_hostname].items() %}
export {{ key }}="{{ value }}"
{% endfor %}

{% for key, value in all_secrets_data.all_secrets.shared.items() %}
export {{ key }}="{{ value }}"
{% endfor %}