name: Deploy applications

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      images: ${{ steps.changes.outputs.images }}
      tailscale-acl: ${{ steps.changes.outputs.tailscale-acl }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            images:
              - 'images/**'
            tailscale-acl:
              - 'configs/tailscale-acl.hujson'

  build-custom-images:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs: detect-changes
    if: needs.detect-changes.outputs.images == 'true'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - uses: jdx/mise-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build custom images
        run: just build-custom-images

  deploy:
    runs-on: ubuntu-latest
    needs: build-custom-images
    if: always()
    env:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - uses: jdx/mise-action@v3

      - name: Install 1Password CLI
        uses: 1password/install-cli-action@v2

      - name: Tailscale Setup
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_CLIENT_SECRET }}
          tags: tag:ci

      - name: Add SSH Key
        run: |
          mkdir -p ~/.ssh
          op read "op://Homelab/7eudmvndhcruyq6azuj4y2vmaq/private key?ssh-format=openssh" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Install Ansible collections
        run: just collection

      - name: Deploy playbook
        run: just deploy
        env:
          ANSIBLE_HOST_KEY_CHECKING: False

  tailscale-acls:
    runs-on: ubuntu-latest
    needs: detect-changes
    if: needs.detect-changes.outputs.tailscale-acl == 'true'
    steps:
      - uses: actions/checkout@v6

      - name: Deploy ACL
        uses: tailscale/gitops-acl-action@v1
        with:
          oauth-client-id: ${{ secrets.TS_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_CLIENT_SECRET}}
          tailnet: ${{ secrets.TS_TAILNET }}
          policy-file: ./configs/tailscale-acl.hujson
          action: apply
